@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

/* Sass color variables */
/* blue: #0089cd; */
/* $white: #ffffff;   */

/* Make the body 100% of the browser viewport height */
html, body {
	font-family: 'Lexend Mega', sans-serif;
    height: 100%;
    margin: 0;
}

h2 {
    padding: 20% 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 5vh;
    margin-bottom: 20px;
}

p {
    font-family: 'Lato', sans-serif;
    text-align: center;
    color: white;
    font-weight: 300;
    letter-spacing: 0.1rem;
}

/* Make each section 100% of the browser viewport height */
section {
    height: 100%;
    color:white;
    position: relative;
    text-align: center;
 
}

/* Center the content of the sections */
.inner {
    max-width: 85%;
	margin: 0 auto;

}


/* Background colors for each section */
section#one 
{ 
	background-color:#490215; 
}

/* Green Box */
.heroCon
{
    display: flex;
    flex-direction: column;
    width:100%
}


section#two 
{ 
	background-color:#f8431f;
}

section#three 
{ 
	background-color:#fc2639; 
}

section#four 
{ 
	background-color: #d72561; 
}

section#five 
{ 
	background-color: #020d3d; 
}

/* Media Queries 789, 1024, 1440 */

/* MEDIA QUERIES */
/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */
@media screen and (min-width: 768px), (min-width: 1100px) {
    
    section#two
    {
        background-color: salmon;
    }
  }