@charset "UTF-8";
/* CSS Document */

.hidden
{
	display: none;
}

/* Sass color variables */
/* blue: #0089cd; */
/* $white: #ffffff;   */

/* Make the body 100% of the browser viewport height */
html, body 
{
    font-family: 'Syne Regular', Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    height: 100%;
    margin: 0;
}

h2 
{
    font-family: 'Syne Extra';
    font-weight: normal;
    font-style: normal;
    padding: 15% 0 0 0;
    margin: 0;
    text-align: center;
    font-size: 5vh;
    margin-bottom: 20px;
}

p 
{
    font-family: 'Syne Regular';
    text-align: center;
    color: white;
    font-weight: inherit;
    letter-spacing: 0.1rem;
    margin-bottom: 10px;
}

.mobile-text-width
{
    max-width:100%;
    line-height: 10vw;

}


ul
{
    display: flex;
    position: absolute;
    top: 8%;
    left:50%;
    transform: translate(-50%,-50%);
    margin: 0px;
    padding: 0px;
    z-index: 1;

}

ul li
{
 list-style: none;
}


ul li a
{
    font-size: 14px;
    position: relative;
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
}

ul li.active a
{
    background-color: greenyellow;
    color: #000;
}

/* Make each section 100% of the browser viewport height */
section 
{
    height: 100%;
    color: white;
    position: relative;
    text-align: center;
}

/* Center the content of the sections */
.inner 
{
    max-width: 85%;
	margin: 0 auto;

}

/* Background colors for each section */
section#one 
{ 
	background-color:#490215; 
}

/* Intro splash section */
.heroCon
{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
    margin: 0 auto;
}

.mobile-box
{
    width: 225px;
    height: 225px;
    padding: 20px;
    margin-top: 40px;
    background-color: greenyellow;
}

.desktop-box
{
    width: 225px;
    height: 225px;
    padding: 20px;
    background-color: greenyellow;
    margin-top: 40px;
} 

section#two 
{ 
	background-color:#f8431f;
}

section#three 
{ 
	background-color:#fc2639; 
}

section#four 
{ 
	background-color: #d72561; 
}

section#five 
{ 
	background-color: #020d3d; 
}

.productTwo
{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productThree
{
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column;
    align-items: center;
}


/* Media Queries 789, 1024, 1440 */
/* MEDIA QUERIES */
/* When the width is between 600px and 900px OR above 1100px - change the appearance of <div> */
@media screen and (min-width: 768px), (min-width: 1100px) {
     
    h2
    {
        font-family: 'Syne Extra';
        font-weight: normal;
        font-style: normal;
        padding: 15% 0 0 0;
        margin: 0;
        text-align: center;
        font-size: 4vh;
        margin-bottom: 20px;
    }

    section#two
    {
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: salmon;
    }

    .heroCon
    { 
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding-top: 230px;
    }

    .splash
    {
        max-width: 28%;
        margin: 0;
    }

    /* Splash styling for Desktop */
    #heroTitle 
    {
        width: max-content;
        text-align: left;
    } 

    .splash p
    {
        line-height: 3vw;
        text-align: left;
    }

    /* Desktop - side by side */
    .desktop-box
    {
        width: 27vh;
        height: 27vh;
        padding: 20px;
        background-color: greenyellow;
    } 

    .productTwo
    {
        width: 100vw;
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: column;
        align-items: normal;
    }

    .productThree
    {
        width: 100vw;
        display: -webkit-flex; /* Safari */
        display: flex;
        flex-direction: column;
        align-items: normal;
    }


    /* display products side by  side */
    .productItems
    {
        display: -webkit-flex; /* Safari */
        display:flex;
        flex-direction: row;
        justify-content: space-evenly;
        margin-top: 10px;
    }

  }